body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Poppins, sans-serif;
}


.commonSubTitle{
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
/* identical to box height */
display: flex;
align-items: center;
text-transform: uppercase;
color: #5D5D5D;
}

.title{
  background: linear-gradient(to bottom right, #2388e3, #7631ac);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:64px;
  line-height:72px;
  font-weight:600
}

.container{
}

p{
width: 977px;
left: 312px;
top: 1341px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
display: flex;
align-items: center;

/* Gray 2 */
color: #4F4F4F;
}

.designPrincipleTitle{
width: 254px;
height: 36px;
left: 428px;
top: 1551px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */
display: flex;
align-items: center;
text-transform: uppercase;

color: #879AB4;
}

.designPrinciple{
width: 744px;
height: 252px;
left: 428px;
top: 1597px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 72px;
line-height: 84px;
/* or 117% */
display: flex;
align-items: center;

color: #879AB4;

}

.container60{
  width: 60%;
  margin: 0 auto;
}

.designProcessTitle{
width: 521px;
height: 72px;
left: 312px;
top: 2121px;

font-family: Poppins;
font-style: italic;
font-weight: 500;
font-size: 24px;
line-height: 36px;
display: flex;
align-items: center;

/* Gray 2 */
color: #4F4F4F;
}

.designProcess{
position: absolute;
width: 1600px;
height: 491px;
left: 0px;
}

.contactMeContainer{
  margin-top: 600px;
}

.contactTitle{
width: 451px;
height: 84px;
left: 287px;
top: 2583px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 84px;
/* identical to box height, or 175% */
display: flex;
align-items: center;

color: #879AB4;
}

.email{
width: 400px;
height: 36px;
left: 288px;
top: 2659px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
/* identical to box height */
display: flex;
align-items: center;

color: #858585;
}

.icon{
width: 58px;
height: 58px;
left: 287px;
top: 2715px;
margin-right: 20px;

}


.secondIcon{
  left: 362px;
}

.peopleImg{
width: 761.11px;
height: 536.02px;
}

.quote{
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 72px;
display: flex;
align-items: center;

color: #879AB4;
}


.subTitle{
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
/* identical to box height */
display: flex;
align-items: center;
color: #4F4F4F;
}

.text{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
display: flex;
align-items: center;

/* Gray 2 */
color: #4F4F4F;
}
.cards{
height:400px;
width: 100%;
display: flex;
justify-content:space-between;
}

.card{
  background: #EFEFEF;
  height: 100%;
  width: 30%;
}

.cardImg{
width: 100%;
height: auto;
}

.viewMore{
  position: absolute;

}

.navLink,.navLink:active, .navLink.hover{
  color: #4F4F4F;
  margin-right: 15px;
  font-family: Poppins,sans-serif;
  font-size: 18px;
}
.navLinks{
  display: inline;
  position: absolute;
  right: 200px;
}
nav{
  padding-top: 20px;
  padding-bottom: 20px;

}

.logo{
  width: 200px
}

#works{
  height:auto;
}

.thumbImg{
  width:70%;
  height: 100%;
  vertical-align: bottom;
}
.workCard{
  display: inline-block;
  height: 100%;
  width: 30%;
  position: relative;
  vertical-align: top;
  color: #F2F2F2;
}
.workBox{
  background:#879AB4;
  margin: 30px auto;
  padding: 0;
}
.workLink{
  padding: 0;
}

.workCardViewMore{
  padding-top: 30%;
}

.container-fluid{
  width: 100%;
  height: auto;
  margin: 0 auto;
  background:#879AB4;
}